name: Java-Code-Testing

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9.1'
        architecture: 'x64'
    - uses: actions/setup-java@v1
      with:
        java-version: '1.8' # The JDK version to make available on the path.
        java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
        architecture: x64 # (x64 or x86) - defaults to x64
    - name: build
      run: |
        python --version
        python Actions_Py.py
